* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: #129d12;
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
}

main {
    text-align: center;
}

#foto1, #display_image2 {
    width: 375px;
    height: 211px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

button {
    width: 6rem;
}

#controleren {
    width: 10rem;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.icons {
    height: 400px;
}

#indexfoto {
    border-radius: 20%;
}

