* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: #129d12;
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
}

main {
    text-align: center;
}

button {
    width: 6rem;
}

#controleren {
    width: 10rem;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0b5ed7 ;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0b5ed7;
    cursor: pointer;
}
#rangeBlur::-webkit-slider-thumb, #rangeBlur::-moz-range-thumb{
    background: #ffca2c ;
}

#rangeContrast::-webkit-slider-thumb {
    background: #5c636a ;
}
#rangeContrast::-moz-range-thumb {
    background: #5c636a ;
}
#rangeDraaien::-webkit-slider-thumb {
    background: #bb0012 ;
}
#rangeDraaien::-moz-range-thumb {
    background: #bb0012 ;
}
#rangeBrightness::-webkit-slider-thumb {
    background: #202020 ;
}
#rangeBrightness::-moz-range-thumb {
    background: #202020 ;
}

.foto {
    width: 300px;
    height: auto;
}

#oefening1 {
    filter: grayscale(100%);
}

#oefening2 {
    transform: rotate(390deg);
}

#oefening3 {
    filter: brightness(150%);
}

#oefening4 {
    filter: blur(2px);
}

#oefening5 {
    filter: contrast(55%);
}

#oef1 {
    filter: brightness(150%);
    transform: rotate(20deg);
}

#oef2 {
    filter: contrast(160%) blur(2px);
}

#oef3{
    filter: grayscale(100%) brightness(60%);
}

#oef4{
    filter: blur(2px) contrast(200%);
}

#oef5{
    filter: brightness(135%);
    transform: rotate(180deg);
}

#linkOefeningen {
    background-color: #cc19b3;
    color: white;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
}

#linkOefeningen:hover {
    background-color: #b918a5;
    color: white;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
}
#draggable-element {
    width: 100px;
    height: 10px;
    font-size: 30px;
    color: black;
    padding: 10px 12px;
    cursor: move;
    position: absolute;
    background-color: transparent;

}
.verborgen {
    display: none;
}
#tekst{
    color: #ffffff;
}
